{% extends "layout.html.twig" %}
{% block head %}
<script type="text/javascript" src="js/ajax.js"></script>
    {{parent()}}
{% endblock %}
{% block body %}
<div id="find">
    <form name="form" id="form" class="form" action="leagues.php" method="post">
        <fieldset>
            <legend>
                <span>Leagues</span>
            </legend>
            <input type="hidden" name="page_mode" id="page_mode" value="find" />
            <div>
                <label for="name">Name</label>
                <input id="name" name="name" type="text" />
            </div>
            <div>
                <label for="surname">Start year</label>
                <input id="year" name="year" type="text" />
            </div>
            <div>
                <label for="phone">Status</label>
                <input id="status" name="status" type="text" />
            </div>
        </fieldset>
        <fieldset class="submit">
            <input name="submit" id="submit" value="Find" type="submit" class="button"/>
        </fieldset>
    </form>
    <br />
        {% if find.showTable == true %}
    <table cellspacing='0' cellpading='0'>
        <tr class='encabezado'>
            <td class="{{ league.headerClass }}" onclick="sortBy({{ league.sortCriteria }})">
                <a><img src="{{ league.flecha }}" /> {{ league.header }}</a>
            </td>
        </tr>
    {% endif %}

    {% for row in league.row %}
        <tr onclick = "document.location='manageLeague.php?id={{row.id}}';"> 
            <td>
            {{row.name}}
            </td>
        </tr>
    {% endfor %}
    </table>
    <br />
    <a href='index.php'>Volver</a>
</div>
{% endblock %}