{% extends "layout.html.twig" %}
{% block head %}
<script type="text/javascript" src="js/ajax.js"></script>
    {{parent()}}
{% endblock %}
{% block body %}
<form name='form' id='form' class='form' action='update.php' onsubmit='return validate(this)' method='post'>
    
    <fieldset>
        <legend>
            <span>Equipo</span>
        </legend>
        <input type='hidden' id='id' name='id' value='{{teamData.id}}' />
        <div>
            <label for='name1'>Nombre primer jugador</label>
            <input id='name1' name='name1' id='name1' value='{{teamData.name1}}' type='text' />
        </div>
        <div>
            <label for='surname1'>Apellido primer jugador</label>
            <input name='surname1' id='surname1' value='{{teamData.surname1}}' type='text' />
        </div>
        <div>
            <label for='telefono1'>Telefono primer jugador</label>
            <input name='phone1' id='phone1' value='{{teamData.phone1}}' type='text' />
        </div>
        <div>
            <label for='email1'>E-mail primer jugador</label>
            <input name='email1' id='email1' value='{{teamData.email1}}' type='text' />
        </div>
        <div>
            <label for='name2'>Nombre segundo jugador</label>
            <input name='name2' id='name2' value='{{teamData.name2}}' type='text' />
        </div>
        <div>
            <label for='surname2'>Apellido segundo jugador</label>
            <input name='surname2' id='surname2' value='{{teamData.surname2}}' type='text' />
        </div>
        <div>
            <label for='telefono2'>Telefono segundo jugador</label>
            <input name='phone2' id='phone2' value='{{teamData.phone2}}' type='text' />
        </div>
        <div>
            <label for='email2'>E-mail segundo jugador</label>
            <input name='email2' id='email2' value='{{teamData.email2}}' type='text' />
        </div>
        <div>
            <label for='userName'>Nombre de usuario</label>
            <input name='userName' id='userName' value='{{teamData.userName}}' type='text' />
        </div>
    </fieldset>
    <fieldset class='submit'>
        <input name='submit' id='submit' value='Guardar' type='submit' class='button'/>
    </fieldset>
</form>
<br />
<form name='form' id='form' class='form' action='delete.php' onsubmit='return validate(this)' method='post'>
    <input type='hidden' id='id' name='id' value='{{teamData.id}}' />
    <input name='submit' id='submit' value='Eliminar' type='submit' class='button'/>
</form>
<br />
<a href='index.php'>Volver</a>
{% endblock %}